/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ortadan yukarı taşı */
    padding-top: 30px; /* Yukarıdan boşluk bırak */
    height: 100vh;
}

/* Geri Dön Butonu */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.back-button a {
    display: inline-block;
    background-color: #bd1b1b; /* Kırmızı tonu  */
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button a:hover {
    background-color: #444;
    transform: scale(1.05);
}

/* Tablo Konteyner */
.table-container {
    width: 90%;
    max-width: 900px; /* Maksimum genişlik sınırını ayarladık */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 50px; /* Yukarıdan mesafe bırak */
}

.invoice-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    padding-bottom: 10px; /* Başlık ile tablonun ayrılmasını sağladık */
    border-bottom: 2px solid #ddd; /* Başlığı görsel olarak ayırmak için bir alt çizgi ekledik */
}

/* Tablo */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
}

table tr:hover {
    background-color: #f5f5f5;
}

table td a {
    color: #007BFF;
    text-decoration: none;
}

table td a:hover {
    text-decoration: underline;
}
