body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    background-image: url('menu-img/arkaPlan.png'); /* Görselin yolu */
    background-size: cover; /* Görselin ekranı tamamen kaplamasını sağlar */
    background-position: center; /* Görselin merkezde konumlanmasını sağlar */
    background-attachment: fixed; /* Görselin sayfa kaydırıldığında sabit kalmasını sağlar */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Sayfa düzenini dikey yapıyoruz */
    height: 100vh; /* Sayfanın tamamını kapsar */
    justify-content: flex-start; /* Çubuk üstte olacak şekilde hizalama */
    align-items: center; /* Yatayda ortalama */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; /* Ekranın üst kısmına sabitle */
    left: 0;
    width: 100%; /* Ekran genişliğiyle eşitle */
    padding: 10px 20px;
    background-color: #c30000;
    color: white;
    z-index: 1000; /* Yatay çubuğun üstte olmasını sağla */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-bar {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    margin: 0 auto; /* Yatayda ortalama */
    display: block; /* Bu özellik, margin: 0 auto'nun çalışmasını sağlar */
    margin-left: 400px; /* Butonu 20px sağa kaydırır */
}


.categories {
    display: flex;
    justify-content: center;  /* Yatayda ortalama */
    align-items: center;      /* Dikeyde ortalama */
    margin-top: 80px;         /* Çubuğun altından başlayacak şekilde ayarlandı */
    gap: 20px;
    width: 100%;              /* Butonları ekran genişliğine yayar */
    height: 100%;             /* Yüksekliği tamamen kapsar */
    position: absolute;       /* Ekranın tamamını kapsaması için pozisyonlandırma */
    top: -100px;               /* Butonları yukarıya doğru hareket ettir */
    bottom: 0;                /* Dikeyde ortalama sağlamak için */
}

.category-button {
    background-color: #c30000;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 290px; /* Buton genişliğini büyüt */
    height: 145px; /* Buton yüksekliğini büyüt */
}

.category-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.category-button {
    text-decoration: none; /* Alt çizgiyi kaldırır */
    /* Diğer stil özellikleriniz */
}
